/vendor
/node_modules
package-lock.json
composer.phar
composer.lock
.DS_Store
Thumbs.db
phpunit.xml
/coverage
yarn-error.log
/webpack.mix.js
.phpunit.result.cache
.idea
*.lock
package.xml
.idea
.idea/*
.php_cs.cache
docs/_build
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/reports
.env
.env.backup
*.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/build
php-cs-fixer.yml
.phpstorm.meta.php
ide_helper.php
